/*
Colors used:

Primary Color (brick): #EB7A42
Secondary color (dark yellow): #DBB342
Background1 (light grey): #f0f0ed
Background 2 (white): #ffffff
Fonts (black): #000000
*/
 
body {
	background-color: #f0f0ed;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px; /* Sets the font size to 16px */
	line-height: 1.6; /* Sets the line-height to 1.6 */
	}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

div {
  padding: 10px; /* Adds a 10px inner spacing to all sides*/
  margin: 10px; /* Adds a 10px outer spacing to all sides*/
}

a:visited {
  /* visited link */
  color: #DBB342;
}

a {
  color: #EB7A42;
}

a:hover,
a:focus {
  text-decoration: none; /* No underlining when hovering over a link */
}

a:active {
  /* selected link */
  color: #489c79;
}

button {
  /* overwrite browser defaults */
  border: none; /* reset the border */
  font-family: inherit; /* takes the font from the outer container */

  /* style button */
  background-color: #EB7A42;
  color: white !important;
  text-decoration: none;
  margin: 10px;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #03474c; /* width of the border, type, color */
  transition: 0.2s opacity;
}

button:hover,
button:focus {
  cursor: pointer; /* let's the mouse appear as hand when hovering over the button */
  opacity: 0.8; /* Reduces the opactiy of the button to 80% */
}